

.recommended_btn{
    text-transform: uppercase;
    background-color: white;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.dropdown_container {
    position: relative;
    background-color: red;
  }

.dropdown_list_container {
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 250px;
  }
  
  .dropdown_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown_list li {
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  





/* @media screen and (min-width: 360px) {
    .dropdown_list_container{
        top: 270px;
    }
    
}   */

  
